section{
    background-color: $color-bg;
    $bgprincipal: rgb(3, 61, 219);
    h2{
        color: $color-main;
        text-align: center;
    }
    h2:hover{
        color: black;
    }
    p{
        font-size: 30px;
        width: 400px;
        height: 100px;
        border: 2px solid black;
        color: $bgprincipal;
    }
    p:hover{
        color: $color-main;
    }
}